.fade-in {
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
}

.colors {
    color: black;
}

.footer {
    padding-top: 50px;
    text-align: center;
    font-size: 8px;
    font-family: Georgia;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {

    .sub-footer {
        width: 30%;
    }
}