.container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.title-home {
    height: 130px;
    padding-top: 60px;
    text-align: center;
    font-size: 10px;
    font-family: Georgia;
    letter-spacing: 3px;
    font-weight: bold;
}

.desc-home {
    font-family: Georgia;
}

.image-presentation {
    background-image: url('../Pages/logo-_1_.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

.sub-home {
    width: 450px;
    height: 370px;
    line-height: 50px;
    text-align: justify;
    font-family: Georgia, sans-serif;
}

.desc-home {
    letter-spacing: 1px;
}

.line {
    border-bottom: 1px solid #EEEEEE;
}

.one-text {
    font-weight: bold;
}

.links-prod {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .sub-home {
        width: 80%;
    }
}
