.container-texts {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 80px;
}

.title-texts {
    font-weight: bold;
    font-family: Georgia;
}

.date-text {
    padding-bottom: 10px;
}

.desc-texts {
    font-family: Georgia;
    line-height: 20px;
    padding-bottom: 20px;
}

.underline {
    font-style: italic;
}

.desc-texts-others {
    font-size: 20px;
    font-family: Georgia;
    line-height: 24px;
    padding-bottom: 20px;
}

.sub-image {
    display: flex;
    justify-content: center;
}

.image {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../Rewrite/icons.png');
    padding-bottom: 20px;
}

.sub-texts {
    width: 450px;
    height: auto;
    text-align: justify;
    font-family: Georgia, sans-serif;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
    padding: 20px;
}

.ps {
    font-size: 10px;
}

@media screen and (max-width: 480px) {

    .sub-texts {
        padding-top: 200px;
    }

    .sub-home {
        width: 80%;
    }

    .image {
        padding-bottom: 10px;
    }
}