.container-button {
    display: flex;
    justify-content: center;
}

.custom-button-theme {
    cursor: pointer;
    border: 1px solid white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.dark-theme {
    color: white;
    background-image: repeating-linear-gradient(113deg, rgb(22, 22, 34) 0px, rgb(22, 22, 34) 23px, transparent 23px, transparent 25px), repeating-linear-gradient(64deg, rgb(22, 22, 34) 0px, rgb(22, 22, 34) 23px, transparent 23px, transparent 25px), repeating-linear-gradient(330deg, rgb(22, 22, 34) 0px, rgb(22, 22, 34) 23px, transparent 23px, transparent 25px), linear-gradient(90deg, rgb(247, 243, 62), rgb(214, 0, 1));
}

.light-theme {
    color: black;
    background-color: white;
}